<div class="wrapper">
    <div id='content'>
      <div class="nav-error-container row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="nav-error-title">
            {{ 'nav_error.' + errorNum + '.title' }}
          </div>
          <div class="nav-error-body">
            <div class="nav-error-header">
              {{ 'nav_error.' + errorNum + '.header' }}
            </div>
            <div class="nav-error-content">
              {{ 'nav_error.' + errorNum + '.content' }}
            </div>
            <div class="nav-error-footer">
              {{ 'nav_error.' + errorNum + '.footer' }}<a href="https://oneview.mitel.com/s/support" target="_blank">{{'nav_error.contact_us'}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
        </div>
    </div>
  </div>
  