<div id="container" class="app-main">

  <cl-header 
  [appLabelName]="appName" 
  [cloud]="cloudEnv" 
  (userClaimsUpdated)="handleUserClaims($event)"
  (goHomePage)="goHomePage()"
  (companyUpdated)="onCompanyUpdated($event)"
  (authConfirmedInvokingUrl)="handleAuthentication($event)">
</cl-header>

<div id="content">
    <h1>Container</h1>
    <!-- <cl-side-nav [claims]="claims" [menuItems]='navItems' [defaultItemId]="navId"
      (itemClicked)="onSideNavItemClicked($event)" (goHomePage)="goHomePage()">
    </cl-side-nav> -->
    <router-outlet></router-outlet>
  </div>

</div>