@media only screen and (min-width: 769px) {
    #content {        
        margin-left: 250px;
        min-width: 950px;
        width: calc(100% - 250px);
        >div {
            padding: 5px;
        }
    }
}

@media only screen and (max-width: 769px) {
    #content {
        width: calc(100% - 250px);
        min-width: 950px;
        overflow-x: auto;
        >div {
            padding: 5px;
        }
    }
}