<div class="wrapper">
    <div id="content">
        <div >
            <p>test-component works!</p>            
            <div>
                <div class="col-sm-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus ab autem quisquam consectetur officia debitis incidunt eveniet rem vel, aliquam facilis dolore dolorum, iure ipsa eum, quaerat illo! Fuga!
                </div>
                <cux-button [type]="buttonType" label="Show Error Page" routerLink='/navigationError' (onClick)="onBtnClick($event)" ></cux-button>
            </div>
        </div>
      
    </div>
</div>
