  
  @media only screen and (min-width: 769px) {
    #content {
      margin-left: 250px;
      min-width: 950px;
      width: calc(100% - 250px);
    }
  }
  
  @media only screen and (max-width: 769px) {
    #content {
      width: calc(100% - 250px);
      min-width: 950px;
      overflow-x: auto;
    }
  }

  #content{
    height: calc(100vh - 100px);
  }